date-time string format validation rejects valid timestamps

The JSON schema specification in [7.3.1.2](http://json-schema.org/latest/json-schema-validation.html#anchor108) says: 

> A string instance is valid against this attribute if it is a valid date representation as defined by RFC 3339, section 5.6 [RFC3339].

And [RFC3339 §5.6](http://tools.ietf.org/html/rfc3339#section-5.6) says:

> ` time-secfrac    = "." 1*DIGIT`

If I try to validated a nanosecond field, I get the following error:

```json
  "level" : "error",
  "schema" : {
    "loadingURI" : "file:/foo.json#",
    "pointer" : ""
  },
  "instance" : {
    "pointer" : ""
  },
  "domain" : "validation",
  "keyword" : "format",
  "attribute" : "date-time",
  "message" : "string \"2013-02-05T07:25:00.123456789Z\" is invalid against requested date format(s) [yyyy-MM-dd'T'HH:mm:ssZ, yyyy-MM-dd'T'HH:mm:ss.SSSZ]",
  "value" : "2013-02-05T07:25:00.123456789Z",
  "expected" : [ "yyyy-MM-dd'T'HH:mm:ssZ", "yyyy-MM-dd'T'HH:mm:ss.SSSZ" ]
}
```

The culprit is this piece of code in `DateTimeAttribute`:

```java
final DateTimeParser msParser = new DateTimeFormatterBuilder()
        .appendLiteral('.').appendDecimal(millisOfSecond(), 1, 3)
        .toParser();
```

Specifically, it's Joda-Time and specifying that the up-to-3 digits which are read are going to be `DateTimeFieldType.millisOfSecond()`. Unfortunately, Joda-Time doesn't support nanoseconds, and in 2013,  Stephen Colebourne [said it won't](https://github.com/JodaOrg/joda-time/issues/52):

> I won't be doing this in Joda-Time. JSR-310 and JDK 8 will support nanosecond based date/time.

So the solution would be to switch from Joda-Time to JSR310. There are only 4 classes that use Joda-Time, so it should be a quick change, but it would necessitate the switch from JDK 6 to JDK 8 and I have no idea what the implications of that are.

Thoughts?



Hello!

Does this issue look similar?  https://github.com/fge/json-schema-validator/issues/143.  I merged a patch set that fixes that issue over at box-metadata/json-schema-validator and built the resultant jar to group=com.box artifact=json-schema-validator.

FGE hasn't been writing/merging patch sets lately, I'm trying to accept them over at box-metadata/json-schema-validator.

If you'd like to improve the JDK version or date time handling in general I'd love to accept patchsets over at box-metdata/json-schema-validator